@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}

.img-logo {
    width: 10vh;
    height: auto;
}


.navbar-nav .nav-item:hover .nav-link {
    color: #FF7F3E;

}


.navbar-nav li>a {
    font-weight: 700;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FFDA78;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* Thêm dòng này để ngăn các items bị xuống dòng */
}

/* Đảm bảo rằng container chứa các nút đăng nhập và đăng kí cũng sử dụng flexbox */
.navbar-nav {
    display: flex;
    align-items: center;
}

/* Điều chỉnh kích thước và khoảng cách của các nút ở các điểm ngắt khác nhau */
@media (max-width: 768px) {

    .signup-button,
    .signin-button {
        padding: 0.25em 0.5em;
        /* Giảm kích thước padding */
        font-size: 12px;
        /* Giảm kích thước font */
    }

    .nav-item {
        margin: 0 2px;
        /* Giảm khoảng cách giữa các items */
    }
}

.signup-button,
.signin-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #003285;
    padding: 0.5em 1em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 15px;
}

.signup-button span:not(:nth-child(6)),
.signin-button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #FF7F3E;
    border-radius: 50%;
    transition: .6s ease;
}

.signup-button span:nth-child(6),
.signin-button span:nth-child(6) {
    position: relative;
}

.signup-button span:nth-child(1),
.signin-button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.signup-button span:nth-child(2),
.signin-button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.signup-button span:nth-child(3),
.signin-button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.signup-button span:nth-child(4),
.signin-button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.signup-button span:nth-child(5),
.signin-button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.signup-button:hover span:not(:nth-child(6)),
.signin-button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

#success {
    display: none;
}

/* CSS cho dropdown-menu */
.dropdownLogout {
    border-radius: 50%;
    overflow: hidden;

}

/* CSS cho dropdown-logout */
.dropdown-logout {
    display: block;
    width: 100%;
    color: #000000;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}

.dropdown-logout:hover {
    color: #ff0000;
}

.dropdown-logout:focus {
    outline: none;
}

.dropdown-logout:active {
    transform: translateY(1px);
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 12px;
        /* Điều chỉnh font-size nhỏ hơn cho màn hình nhỏ */
    }


    .img-logo {
        width: 5vh;
        height: auto;
    }

    .signup-button,
    .signin-button {
        font-size: 6px;
        /* Điều chỉnh kích thước font chữ cho các nút */
    }

    .nav-item {
        margin: 0 2px;
        /* Điều chỉnh khoảng cách của các nav-item */
    }

    .d-none {
        display: none !important;
    }

    .input-container {
        width: 50%;
    }

    /* file styles.css hoặc tên file CSS mà bạn đang sử dụng */
    .dropdown .dropdown-toggle {
        font-size: 10px;
        /* Thiết lập kích thước font cho nút */
        padding: 0.5rem 1rem;
        /* Thiết lập padding cho nút */
    }

    .dropdown .dropdown-toggle .circle1,
    .dropdown .dropdown-toggle .circle2,
    .dropdown .dropdown-toggle .circle3,
    .dropdown .dropdown-toggle .circle4,
    .dropdown .dropdown-toggle .circle5 {
        width: 10px;
        /* Thiết lập kích thước của các circle */
        height: 10px;
        margin: 0 2px;
        /* Điều chỉnh khoảng cách giữa các circle */
    }

    .dropdown .dropdown-logout {
        font-size: 10px;
        /* Thiết lập kích thước font cho nội dung "Đăng xuất" */
        padding: 2px 1px;
        /* Thiết lập padding cho nút "Đăng xuất" */
    }

}


.input-container {
    position: relative;
    width: 100%;
}

.input-container .form-control {
    padding-right: 20px;
    /* Khoảng cách phía bên phải của ô input để chứa icon */
}

.input-container .icon-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}