/* sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a.active {
    background-color: #555;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.content {
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.content main {
    padding: 15px;
}

/* CSS cho các bài post */

/* Style cho mỗi bài post */
.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(100% / 3);
    /* Đặt chiều rộng cơ bản của mỗi bài post */
    box-sizing: border-box;
    /* Đảm bảo tính toàn vẹn của box model */
    float: left;
    /* Sử dụng float để các bài post nằm cạnh nhau */
}

/* Xóa float ở cuối mỗi hàng */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Điều chỉnh các bài post khi hiển thị trên màn hình lớn */
@media screen and (min-width: 768px) {
    .post {
        width: calc(100% / 6 - 10px);
        /* Điều chỉnh chiều rộng của mỗi bài post khi hiển thị trên màn hình lớn */
    }
}


.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.post-content {
    font-size: 1em;
    color: #333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
}