/* sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a.active {
    background-color: #555;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.content {
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.content main {
    padding: 15px;
}

/* CSS cho các bài post */

/* Style cho mỗi bài post */
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Tối thiểu 200px và mở rộng để lấp đầy không gian còn lại */
    gap: 20px;
    /* Khoảng cách giữa các bài post */
    max-width: 1800px;
    /* Giới hạn chiều rộng của grid */
    margin: 0 auto;
    /* Căn giữa grid */
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post-content {
    font-size: 1em;
    color: #333;
}

@media (min-width: 768px) {
    .posts-container {
        grid-template-columns: repeat(6, 1fr);
        /* 6 cột trên màn hình từ 768px trở lên */
    }
}

section h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-all-btn {
    text-decoration: none;
    font-size: 22px;
    color: #007bff;
    /* Màu chữ xanh */
}